{% extends 'base.html' %}

{% block title %}Lista de Proveedores{% endblock %}

{% block content %}
<div class="wrapper">
    <h2>Lista de Proveedores</h2>
    {% if proveedores %}
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Acciones</th> <!-- Nueva columna para las acciones -->
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.telefono }}</td>
                <td>{{ proveedor.email }}</td>
                <td>
                    <a href="{% url 'eliminar_proveedor' proveedor.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay proveedores registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No hay proveedores registrados.</p>
    {% endif %}
    <div class="button-group">
        <a href="{% url 'registrar_proveedor' %}" class="btn btn-primary">Registrar Nuevo Proveedor</a>
        <a href="{% url 'home' %}" class="btn">Volver al Inicio</a>
    </div>
</div>
{% endblock %}
