{% extends 'base.html' %}

{% block title %}Eliminar Producto{% endblock %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/estilosinvelim.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <h1>Eliminar Producto</h1>
    <p>¿Estás seguro de que deseas eliminar el producto "{{ producto.nombre }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn">Eliminar</button>
    </form>
    <a href="{% url 'listar_productos' %}" class="btn">Cancelar</a>
</div>
{% endblock %}