/* estilosreg.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
}

.container h1 {
  font-size: 36px;
  text-align: center;
}

.container form {
  margin-top: 20px;
}

.container form p {
  margin-bottom: 15px;
}

.container form input[type="text"],
.container form input[type="password"],
.container form input[type="email"] {
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
  margin-bottom: 15px;
}

.container form input::placeholder {
  color: #fff;
}

.container form input[type="submit"] {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.container form input[type="submit"]:hover {
  background: #f1f1f1;
}

.container a {
  color: #fff;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.login-link {
  margin-top: 20px;
  text-align: center;
}

.login-link p a {
  color: #fff;
  font-weight: 600;
}

.login-link p a:hover {
  text-decoration: underline;
}